body{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 500px;
}

.res{
    font-size:70px;
    align-items: center;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 50px;
}

.row{
    margin-bottom: 20px;
}



